header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.logo {
    background: url('/home/nk/AirBnB_clone/web_static/images/logo-airbnb.png') no-repeat center;
}
